@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4lht06');
    src: url('../fonts/icomoon.eot?4lht06#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4lht06') format('truetype'),
        url('../fonts/icomoon.woff?4lht06') format('woff'),
        url('../fonts/icomoon.svg?4lht06#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sc-t-arrow:before {
    content: "\e900";
}

.icon-sc-arrowb:before {
    content: "\e901";
}

.icon-sc-redirect:before {
    content: "\e902";
}

.icon-sc-wp-icon:before {
    content: "\e903";
    color: #fff;
}

.icon-sc-arrow:before {
    content: "\e904";
    color: #fff;
}

.icon-sc-linkedin:before {
    content: "\e905";
    color: #fff;
}

.icon-sc-ig:before {
    content: "\e906";
    color: #fff;
}

.icon-sc-twitter:before {
    content: "\e907";
    color: #fff;
}

.icon-sc-fa:before {
    content: "\e908";
    color: #fff;
}