.center_content_wrapper {
    position: relative;
    padding: 100px 0;

    .c_content_container {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            margin: 0 0 15px;

            a {
                color: $brand-green;
                font-family: "Roboto", sans-serif;
            }

            b {
                display: block;
                color: #3e3e3e;
                font-size: 20px;
                font-weight: 600;
                line-height: 55px;
            }
        }
        h2 {
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 18px 0 10px;
        }
        h3 {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 18px 0 10px;
        }

        ol,
        ul {
            margin: 0 0 18px;
            padding: 0 0 0 40px;

            li {
                list-style-type: decimal !important;
                font-family: "Roboto", sans-serif;
                font-size: 22px;
                font-weight: 400;
                line-height: 35px;
                margin: 0 0 15px;

                p {
                    b {
                        display: block;
                        color: #3e3e3e;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 55px;
                    }
                }
            }
        }
    }
}
